



.main1 {
    background: var(--color-gradient-bg);
}
  
    
    





.headline {
    font-size: 34.1px;
    font-weight: 800;
    /* color:  #131022; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    

#gradiant h1 {
margin: 0;
}    

    
.imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    text-align: center;
}

.imgs p {
    color: var(--color-text);
}
    

#app-google {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-top: 2rem;
}
    
.btn {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: left;
    font-size: 2.5rem;
    /* border: var(--color-dark) solid; */
    border-radius: 8px;
    height: 50px;
    background-color: var(--color-btn-store);
    width: 100%;
    cursor: pointer;
    overflow:hidden;
}

.btn a {
    color: var(--color-btn-storetext);
}
  
.google {
    margin: 0;  
}

.apple {
    margin: 0;
}

.btn .apple .size1 {
    font-size: .75rem;
    color: var(--color-btn-storetext);
}
.btn .apple .size2{
   font-size: 1.3rem;
   font-weight: 400;
   color: var(--color-btn-storetext);
}
.btn .google .size1 {
    font-size: .75rem;
    color: var(--color-btn-storetext);
}
.btn .google .size2{
   font-size: 1.3rem;
   font-weight: 400;
   color: var(--color-btn-storetext);
}

 
.bild-mobiles {
    display: none;
}    
.bild-mobiles2 {
    display: none;
}

.knapp2 {
    height: 44px;
    width: 44px;
    padding: 12px;
    border: var(--color-btn-secondary);
    background-color: var(--color-btn-secondary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.knapp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
}

.knapp p {
    font-size: 14px;
    color:var(--color-text)
    
}










// Tablet
    

    
@media (min-width: 768px) {
     


       

        #imgs #app-google {
            margin-top: 2rem;
            flex-direction: row;
        }
            

        .btn {
            height: 44px;
            gap: .5rem;
            font-size: 1.8rem;
        }

        .btn .apple .size1 {
            font-size: .5rem;
            color: var(--color-btn-storetext);
        }
        .btn .apple .size2{
           font-size: .8rem;
           font-weight: 600;
            width: 100%;
           color: var(--color-btn-storetext);
        }
        .btn .google .size1 {
            font-size: .5rem;
            color: var(--color-btn-storetext);
        }
        .btn .google .size2{
           font-size: .8rem;
           font-weight: 600;
           width: 100%;
           color: var(--color-btn-storetext);
        }
            
            

        .btn-store {
            margin-top: 8px;
        }

        #gradiant p {
            text-align: left;
            margin: 0;
        }

       .knapp {
            margin-top: 1rem;
            margin-bottom: 2rem;
            margin-right: 4rem;
        }

        #gradiant {
            padding-top: 3rem;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: auto repeat(11, 1fr);
        }
     
        
        .headline {
        font-size: 44px;
        margin-top: 0;  
        grid-column: 1 / -1;
        grid-row: 2 / 5;   
        }

       
        
        #imgs {
            margin-top: 3rem;
            margin-bottom: 1rem;
            justify-content: space-between;
            z-index: 100;
            grid-column: 1 / 6;
            grid-row: 6 / -1; 
            align-items: flex-start;
        }
        
        #bild-mobiles {
            margin-top: 1rem;
            display: flex;
            align-items: baseline;
            z-index: 10;
            grid-column: 5 / -1;
            grid-row: 5 / -1;
        }
    }











// Desktop

    @media (min-width: 1400px) {
      
        header .container {
            grid-template-columns: auto 1fr auto auto;
            gap: 4rem;
        }
        // #signin {
        //     display: block;
        // }
        // .main-menu {
        //     display: flex;
        //     gap: 2rem;
        // }
        // .mobile-menu {
        //     display: none;
        // }
        
        #bild-mobiles {
        display: none;
        }

        #gradiant {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: auto auto repeat(10, 1fr);
        }

        #headline {
            display: flex;
            justify-content: left;
            align-items: baseline;
            font-size: 56px;
            margin-top: 0;  
            grid-column: 1 / 6;
            grid-row: 4 / 6;   
        }
            
            
            #imgs {
                z-index: 100;
                grid-column: 1 / 6;
                grid-row: 6 / -1; 
                margin-top: 0;
                padding-top: 1rem;
                gap: 1.5rem;
                display: grid;
                grid-template-rows: auto auto 1fr;
            }

            .imgs p {
            padding-right: 4rem;
            }
            #app-google {
                display: flex;
                justify-content: left;
            }
            .knapp {
                display: flex;
                justify-content: left;
                margin-top: 12rem;
            }
                
            
            
        
    
            .btn .apple .size1 {
                font-size: .6rem;
                padding-right: 0;
                color: var(--color-btn-storetext);
            }
            .btn .apple .size2{
               font-size: 1rem;
               padding-right: 0;
               font-weight: 600;
                width: 100%;
               color: var(--color-btn-storetext);
            }
            .btn .google .size1 {
                font-size: .6rem;
                padding-right: 0;
                color: var(--color-btn-storetext);
            }
            .btn .google .size2{
               font-size: 1rem;
               padding-right: 0;
               font-weight: 600;
               width: 100%;
               color: var(--color-btn-storetext);
            }

            .btn {
                height: 44px;
                max-width: 180px;
            }
                
            
                

        .bild-mobiles2 {
            display: flex;
            align-items: flex-end;
           

            z-index: 10;
            grid-column: 6 / -1;
            grid-row: 4 / -1;
        }
    }