.section5-container {
    
    
    margin-right: 1rem;
    border-radius: 8px;
    background-color: var(--color-secondary-bg);
    display: none;
} 

@media (min-width: 1400px) {
    .section5-container {
        display: block;
        padding-top: 1rem;
    }
    
    .section5 {
        display: flex;
        justify-content: center;
        gap: 1rem;
        
        
    }
    
    .quotes {
        height: 44px;
        width: 44px;
        padding: 12px;
        border-radius: 6px;
        background: var(--color-primary);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0.2rem;
    }
        
    .quotes-div {
    position: relative;
    }    
    
    .review-headline {
        display: flex;
        flex-direction: column;
        
        max-width: 416px;
        font-size: 20px;
        font-weight: 700;
        margin-right: 12rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
       
    }
    
    .review-headline h1 {
        margin-top: 0;
        font-size: 40px;
        font-weight: 800;
    }
       
    
    .review-card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: var(--color-card-fill);
        border-radius: 8px;
        padding: 1rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
        
        max-width: 416px;
    }    
    
    .stars {
        padding-top: 2rem;
    }
    
    .review-text {
        padding-right: 1rem;
        font-size: 18px;
        color: var(--color-text);
        
    }
    
    
    .review-person {
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
    }
    
    .title-name {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }
    .title-name #name {
        font-size: 16px;
        font-weight: 700;
       
    }
    #title {
        color: var(--color-grey);
    }
}